// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'restaurant.scss';
@import 'universe.scss';
@import 'dashboard.scss';
@import 'job.scss';
// @import 'event.scss';
// @import 'hotel.scss';
// @import 'rent.scss';
// @import 'sale.scss';
// body
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #edf1f4 !important;
    min-height: 100%;
}

// Navigation Bar
#navbar{
    background-color: #941c18;
    .nav-item{
        border:solid 1px #fff;
        border-radius: 4px;
        margin: 0px 2px;
        a{
            color:#fff !important;
        }
    }
    .nav-item:hover{
        background-color: white;
        transition: .6s;
        a{
            color: #941c18 !important;
        }
    }

    // avatar
    #avatar{
        img{
            height:40px !important;
            width: 40px !important;
            border:solid .5px #ffffff;
        }
        .nav-item{
            border:0px !important;
        }
        .nav-item:hover{
            background-color: transparent;
            transition: .6s;
            color:#941c18;
            a{
                color:#941c18 !important;
            }
        }
        .dropdown-menu{
            a{
                color: #941c18;
            }
        }
    }
}
// Home Search
#home_search{
    
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5), 
    ), url('img/hd-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    // Input height
    .input{
        height: 50px;
        border-radius: 0px;
    }
    #dropdown{
        display: block;
        position: absolute;
        background: red;
        z-index: 2000;
        width: 65%;
        left: 24%;
        top: 50px;
        ul{
            list-style: none;
            margin-left:0px;
        }
    }
}

// Featured Home
#home_featured{
    .card-body{
        padding:.7rem !important;
        font-size: .9rem !important;
        color:#89959B !important;
        h5{
            color:#33373D !important;
            font-size: 1rem !important;
        }
    }
    .card
    {
        .list{
            height: 120px;
            position: relative;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif);
            }
    // Lazysize loading
        .lazyloading {
            opacity: 1;
            transition: 600ms opacity;
            background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
            min-height: 60px;
        }
        .lazyloaded {
        opacity: 1;
        transition: 10ms opacity;
        }
        .likes{
            position: absolute;
            font-size: 12px !important;
            font-weight: 600;
            top: 0px;
            border-radius: 3px;
            color: #ffffff;
            right: 0px;
            padding: 3px 6px;
        .btn{
            padding: 1px 4px !important;
            font-size: .8rem !important;
            }

        } 
        .types{
            position: absolute;
            padding: 3px 6px;
            top: 58%;
            right: 10px;
       }
    }

}

#business_list{
        // Lazysize loading
      .lazyloading {
          opacity: 1;
          transition: 600ms opacity;
          background: #f7f7f7 url('/img/tibetanbusiness.png') no-repeat center;
          min-height: 60px;
      }
      .lazyloaded {
      opacity: 1;
      transition: 10ms opacity;
      }
    .banner{
        height:100px;
        // background: red;
        position: relative;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('http://afarkas.github.io/lazysizes/assets/imgs/loader.gif');

    }
    .info{
        h5{
            font-size: 12px !important;
            // color:#89959B;
            color: #3e4041;
            font-weight: bold;
        }
        h6{
            color:#89959B;
            font-size: 11px;
        }
    }
}
// footer
footer{
    background-color:#282c35;
    padding: 10px 0px;
    color: #cdcdcd;
    .divider{
    border-top: 1px solid #3C3F46;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    ul{
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            display: block;
            padding: 0 0 8px;
            font-size: 14px;
        }
    }
    .copyright{
        font-size: 12px;
        color: #9a9a9a;
    }
    img{
        margin: 0px auto;
        display: block;
        height: 50px;
        width: 50px;
    }
}
#toggle{
    // Toggle
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 60px;
        height: 30px;
        background: #A51414;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 5px;
        width: 25px;
        height: 25px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked + label {
        background: #367430;
    }

    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 130px;
    }
}

// login

#login{
    // top:15%;
    .modal-content{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .btn{
        border-radius: 1.25rem !important;
    }

}



