// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'restaurant.scss';
@import 'universe.scss';
// @import 'event.scss';
// @import 'hotel.scss';
// @import 'rent.scss';
// @import 'sale.scss';
// body
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #edf1f4 !important;
    min-height: 100%;
}

// Navigation Bar
#navbar{
    background-color: #941c18;
    .nav-item{
        border:solid 1px #fff;
        border-radius: 4px;
        margin: 0px 2px;
        a{
            color:#fff !important;
        }
    }
    .nav-item:hover{
        background-color: white;
        transition: .6s;
        a{
            color: #941c18 !important;
        }
    }

}
// Home Search
#home_search{
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5), 
    ), url('img/hd-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}

// Featured Home
#home_featured{
    .card-body{
        padding:.7rem !important;
        font-size: .9rem !important;
        color:#89959B !important;
        h5{
            color:#33373D !important;
            font-size: 1rem !important;
        }
    }
    .card
    {
        .list{
            height: 120px;
            position: relative;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            // background-image: url('img/background2.jpg');
            }
        .likes{
            position: absolute;
            font-size: 12px !important;
            font-weight: 600;
            top: 0px;
            border-radius: 3px;
            color: #ffffff;
            right: 0px;
            padding: 3px 6px;
        .btn{
            padding: 1px 4px !important;
            font-size: .8rem !important;
            }

        } 
        .types{
            position: absolute;
            padding: 3px 6px;
            top: 58%;
            right: 10px;
       }
    }
}

#business_list{
    .banner{
        height:100px;
        // background: red;
        background-image: url('img/5.gif');
        position: relative;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .info{
        h5{
            font-size: 12px !important;
            // color:#89959B;
            color: #3e4041;
            font-weight: bold;
        }
        h6{
            color:#89959B;
            font-size: 11px;
        }
    }
}
// footer
footer{
    background-color:#282c35;
    padding: 10px 0px;
    color: #cdcdcd;
    .divider{
    border-top: 1px solid #3C3F46;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    ul{
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            display: block;
            padding: 0 0 8px;
            font-size: 14px;
        }
    }
    .copyright{
        font-size: 12px;
        color: #9a9a9a;
    }
    img{
        margin: 0px auto;
        display: block;
        height: 50px;
        width: 50px;
    }
}

// login

#login{
    top:15%;
    .modal-content{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .btn{
        border-radius: 1.25rem !important;
    }

}