// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'universe.scss';
@import 'detail.scss';
// body
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #edf1f4 !important;
    min-height: 100%;
}
a{
    text-decoration: none !important;
}
// 
.sticky_header {
    background-color: #941c18 !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) !important;
}
// Navigation Bar
#navbar{
        -webkit-transition: all ease-out .5s;
        -moz-transition: all ease-out .5s;
        -o-transition: all ease-out .5s;
        transition: all ease-out .5s;
        background-color: transparent;
        z-index: 900;
    .nav-item{
        border:solid 1px #fff;
        border-radius: 4px;
        margin: 0px 2px;
        a{
            color:#fff !important;
            padding:.25rem !important;
        }
    }
    .nav-item:hover{
        background-color: white;
        transition: .6s;
        a{
            color: #941c18 !important;
        }
    }

    // avatar
    #avatar{
        img{
            height:25px !important;
            width: 25px !important;
            border:solid .5px #ffffff;
        }
        // .nav-item{
        //     border:0px !important;
        // }
        .dropdown-menu{
            a{
                color:#000000!important;
            }
        }
    }
}


// Home Search
#home_search{
    	max-width: 100%;
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5));
    padding-top:8%;
    // background-image:linear-gradient(
    //   rgba(0, 0, 0, 0.5), 
    //   rgba(0, 0, 0, 0.5), 
    // ), url('img/hd-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // height:auto;
    min-height: 70vh;
    // Input height
    .input{
        height: 50px;
        border-radius: 0px;
    }
    #dropdown{
        display: block;
        position: absolute;
        background: red;
        z-index: 2000;
        width: 65%;
        left: 24%;
        top: 50px;
        ul{
            list-style: none;
            margin-left:0px;
        }
    }

    // list in white
    #list{
        // margin-left:10%;
        a{
            color:#ffffff;
        }
        a:hover{
            color:#e9eaea;
        }
    }
}

// Featured Home
#home_featured{
    .card-body{
        padding:.7rem !important;
        font-size: .9rem !important;
        color:#747677!important;
        // color:#89959B !important;
        h5{
            // color:#33373D !important;
            color: #404142 !important;
            font-size: 1rem !important;
        }
    }
    .card
    {
        .list{
            height: 120px;
            position: relative;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-size: cover !important;
            background: url('/img/loading-img.svg') no-repeat center;
            // background-repeat: no-repeat;
            // background-position: center center;
            // background-image: url("https://afarkas.github.io/lazysizes/assets/imgs/loader.gif");
            }
    // Lazysize loading
        .lazyloading {
            opacity: 1;
            transition: 600ms opacity;
            background-size: cover !important;
            background: url('/img/loading-img.svg') no-repeat center;
            // background: url("https://afarkas.github.io/lazysizes/assets/imgs/loader.gif") no-repeat center;
            min-height: 60px;
        }
        .lazyloaded {
        opacity: 1;
        transition: 10ms opacity;
        }
        .likes{
            position: absolute;
            font-size: 12px !important;
            font-weight: 600;
            top: 0px;
            border-radius: 3px;
            color: #ffffff;
            right: 0px;
            padding: 3px 6px;
        .btn{
            padding: 1px 4px !important;
            font-size: .8rem !important;
            }

        } 
        .types{
            position: absolute;
            padding: 3px 6px;
            top: 58%;
            right: 10px;
       }
    }

}

#business_list{
    a{
        color:#6c757d !important;
    }
    .card{
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
        // Lazysize loading
    .lazyloading {
          opacity: 1;
          transition: 600ms opacity;
        //   background: #f7f7f7 url('/img/tibetanbusiness.png') no-repeat center;
        background: url('/img/loading-img.svg') no-repeat center;
          min-height: 60px;
      }
    .lazyloaded {
      opacity: 1;
      transition: 10ms opacity;
      }
    .banner{
        height:100px;
        position: relative;
        background-size: cover;
        background-position: center center !important;
        background-image: url('/img/loading-img.svg') no-repeat center;
        .price{
            bottom:2px;
            left:3px;
        }

    }
    .info{
        h5{
            font-size: 14px !important;
            // color:#89959B;
            // color: #3e4041;
            color: #343a40 !important;
            font-weight: bolder;
            padding-top: 5px;
        }
        h6{
            // color:#89959B;
            color: #747677 !important;
            font-size: 12px;
            font-weight: bolder;
        }
    }
}
// footer
footer{
    background-color:#282c35;
    padding: 10px 0px;
    color: #cdcdcd;
    .divider{
    border-top: 1px solid #3C3F46;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    ul{
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            display: block;
            padding: 0 0 8px;
            font-size: 14px;
        }
    }
    .copyright{
        font-size: 12px;
        color: #9a9a9a;
    }
    img{
        margin: 0px auto;
        display: block;
        height: 50px;
        width: 50px;
    }
}
// Vue Awesome Swiper Modified Css
.swiper-container{
    padding:0px 7.5px !important;
    .swiper-button-next, .swiper-button-prev{
        top:27% !important;
    }
    .swiper-button-next::after, .swiper-button-prev:after{
        font-size: 11px !important;
        color:#ffffff;
        padding:8px;
        border:solid .5px #fff;
        background: #c9c7c8;
        // border-radius: 50%;;
    }
}
/* Login UI CSS */
#login{
    // top:15%;
    .modal-content{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .btn{
        border-radius: 1.25rem !important;
    }

}



