/* 
Resteaurant show
View individual show CSS
*/
#restaurant{
    min-height: 100vh;
    // background-color: red;
    .banner{
        // background-image: url('img/placeholder.gif') !important;
        height: 250px;
        position: relative;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('/img/placeholder.gif');
        .overlay{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            height: inherit;
            background: rgba(0, 0, 0, 0.4);
            .job{
                position: absolute;
                top: 0px;
                left: 0px;
                i{
                    padding:1px 6px !important;
                }
            }
            h6{
                bottom:10px;
                left:5px;
            }
            h5{
                // top:0px;
                left:5px;
                bottom: 50px;
            }
        }
        ul{
            position: absolute;
            bottom: 6px;
            list-style: none;
            right:6px;
            li{
                display: inline;
                padding:0px 2px;
                .btn-danger{
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                    border:none !important;
                }
            }
        }
    }
    .overview{
        h6{
            span{
                padding: 0px 3px;
            }
        }
        .btn:hover {
        cursor: default;
        // color: white !important;
        background-color: transparent !important;
        }
        .facility{
            p{
                margin:0px 0px !important;
                padding:2px 0px;
            }
        }
    }
    .contact{
        p{
            margin:0px;
        }
    }
    // Media Override
    .media-body{
        border-bottom: 1px solid rgb(232, 232, 232)
    }
    // Photos 
    .photo{
    height: 100px;
    background-position: center center;
    background-size: cover;
    border: 0px;
    border-radius: 10px;
    // background-color: gainsboro;
    background-image: url("/img/placeholder.gif");
    }
    // Event
    #event{
        .title{
            h6{
                top:55% !important;
                bottom:auto !important;
                // left:2px !important;
                // padding: 5px;
            }
        }
        .banner{
            ul{
                bottom: 20px !important;
                left: 2px;
                position: absolute;
                padding: 5px !important;
                border-radius: 4px !important;
                font-size: 16px;
                li{
                    padding: 3px 6px !important;
                    margin:2px 2px !important;
                }
            }
        }
    }

// Sidebar Css
    #sidebar{
    // Swiper css
        .swiper-button-next, .swiper-button-prev{
            top:20% !important;
        }
        .banner{
            // background-image: url('https://afarkas.github.io/lazysizes/assets/imgs/loader.gif');
            background-image: url('/img/placeholder-logo.png') no-repeat center;
            height: 70px;
            border-radius: 4px;
            background-size: cover;
        }
        // Lazysize loading
        .lazyloading {
            opacity: 1;
            transition: 600ms opacity;
            background: #f7f7f7 url('/img/placeholder-logo.png');
            min-height: 60px;
            background-size: cover;
            background-position:center;
            background-repeat: no-repeat;
        }
        .lazyloaded {
        opacity: 1;
        transition: 10ms opacity;
        }
        .rate{
            position: absolute;
            top:2px;
            right: 9px;
            .btn{
                padding:2px;
                font-size: 13px;
            }
        }
    }
    /* Carousel */
    .carousel{
        a{
            // margin:10% 0px;
            background-color: rgba(0,0,0,0.5);
        }
        .slide{
            // height: 55vh;
            width: 100%;
            background-position: center center;
            background-size: cover;
        }
    }
}