/* Restaurant scss */
#restaurant{
    // background-color: red;
    .banner{
        // background-image: url('img/placeholder.gif') !important;
        height: 250px;
        position: relative;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('/img/placeholder.gif');
        .overlay{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            height: inherit;
            background: rgba(0, 0, 0, 0.2);
            h6{
                bottom:10px;
                left:5px;
            }
        }
    }
    .overview{
        h6{
            span{
                padding: 0px 3px;
            }
        }
    }
}