

/* Search Dropdown */
#tb_search_dropdown{
  	input,.input-group-text{
    border-radius: 0px !important;
    // border-left: none;
    }
    input{
      border-left: none !important;
    }
    .btn{
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      // line-height: 0.5rem;
      // height:2rem;
    }
    input:focus {
      outline: none !important;
      }
    .form-control[readonly]{
      background: #ffffff !important;
      font-size: 18px;
    }
    #tb_location {
      position: relative;
      i{
        color: #c9cdd1 !important;
      }
    }
    #tb_location .input-group-text{
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }
    .form-control{
      height: 3rem;
    }
	 #tb_location ul {
		  width: 100%;
		  position: absolute;
		  z-index: 10;
		  top:100%;
		  height: 270px;
		  overflow: scroll;
		  overflow-x:hidden;
    }
    #tb_type{
      i{
        color: #c9cdd1 !important;
      }
    }
	 #tb_type ul {
		  width: 100%;
		  position: absolute;
		  z-index: 10;
      top:100%;
      // padding-left:0px !important;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
		}
	ul li {
		  list-style: none;
		  padding:6px;
		  color:#000;
		  // background: #565d64;
		  background: #ffffff;
		  border-bottom: .3px solid #8c9297;
		}
	#tb_type ul li:last-of-type{
	  border-bottom-left-radius: 5px;
	  border-bottom-right-radius: 5px;
	  // background: pink;
	}
	 ul li:hover{
		background-color:gray;
		color: white;
		transition: 1.5s;
		cursor: pointer;
	}
	#tb_location ul li a{
		text-decoration: none;
    // color:#fff;
		color:#000;
    
  }
  .input-group-text{
    background-color: #fff !important;
  }
	#tb_type ul li a{
		text-decoration: none;
		// color:#ffffff;
		color:#000;
	}
	#service_list{
		display: none;
  }
  
  // Alert Required
  .required{
    border:solid 1px #dc4245;
    border-left:solid 1px #dc4245 !important;
    transition: .5s;
    // border-radius: 3px;
  }
  .required::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#94291a;
    font-size:18px !important;
  }
}
/** Mobile search dropdown  */
#dropdown_lists{
      input:focus {
      outline: none !important;
      }
      input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 14px;
      }
    .form-control[readonly]{
      background: #ffffff !important;
      font-size: 14px;
    }
    .height{
      height:250px;
    }
  	ul {
		  width: 100%;
		  z-index: 100;
		  top:105%;
		  // height: 270px;
		  overflow: scroll !important;
      overflow-x:hidden !important;
      padding-left:0px;
      background-color: #ffffff;
    }
    ul li {
        list-style: none;
        padding:4px;
        color:#6c747d;
        // background: #565d64;
        background: #ffffff;
        border-bottom: .3px solid #ced4db;
      }
    ul li:hover{
      background-color:#edf1f4;
      color: #6c747d;
      transition: .5s;
      cursor: pointer;
    }
    ul li a{
		text-decoration: none;
    // color:#fff;
		color:#000;
    
    }
  
  // Alert Required
  .required{
    border:solid 1px #ffffff;
    border-left:solid 1px #ffffff !important;
    transition: .5s;
    // border-radius: 3px;
  }
  .required::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#94291a;
    font-size:18px !important;
  }
}
/* Sidebar  */
#sidebar{
  // Swiper css
      .swiper-button-next, .swiper-button-prev{
        top:20% !important;
      }
    .banner{
        // background-image: url('https://afarkas.github.io/lazysizes/assets/imgs/loader.gif');
        background-image: url('/img/loading-img.svg') no-repeat center;
        height: 70px;
        border-radius: 4px;
        background-size: cover;
    }
      // Lazysize loading
    .lazyloading {
        opacity: 1;
        transition: 600ms opacity;
        background: #f7f7f7 url('/img/loading-img.svg');
        min-height: 60px;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
    }
    .lazyloaded {
    opacity: 1;
    transition: 10ms opacity;
    }
    .rate{
        position: absolute;
        top:2px;
        right: 9px;
        .btn{
            padding:2px;
            font-size: 13px;
        }
    }
}
/** Animate css  */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
/* Carousel */
.carousel{
    a{
        // margin:10% 0px;
        background-color: rgba(0,0,0,0.5);
    }
    .slide{
        // height: 55vh;
        width: 100%;
        background-position: center center;
        background-size: cover;
    }
}
/* modal */
.modal_top{
    top:10%;
}


/* 
  Dashboard navtabs
  Overview
  Photos
  Comments etc
  */

#nav-tab{
  .nav-tabs{
    .nav-item{
      padding: 0px 10px !important;
      // background-color: red;
      transition: .5s ease;
    }
 .nav-item:first-child{
   padding-left: 0px !important;
   text-align: center;
    }
    a{
      color:#6c757d!important;
      font-weight: bold;
    }
    .nav-item.show .nav-link,.nav-link.active{
      background-color: transparent !important;
      border-bottom: solid 2px#dc3545!important;
      color:#343a40!important;
      font-weight: bold;
    }
    .nav-link{
      border: none !important;
    }
  } 

}

/*
Upload Image
Universal
Image / Banner / food / Menu
Rent / Hotel etc 
CSS style
*/
#image_upload {
    width: 100%;
    background: #2196F3;
    color: #fff;
    padding: 40px 15px;
    text-align: center;
    border-radius: 10px;
    border: 2px dotted #fff;
    font-size: 20px;
    position: relative;
    &.dragging {
        background: #fff;
        color: #2196F3;
        border: 3px dashed #2196F3;
        .file-input label {
            background: #2196F3;
            color: #fff;
        }
    }
    i {
        font-size: 85px;
    }
    .file-input {
        width: 200px;
        margin: auto;
        height: 68px;
        position: relative;
        label,
        input {
            background: #fff;
            color: #2196F3;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 4px;
            margin-top: 7px;
            cursor: pointer;
        }
        input {
            opacity: 0;
            z-index: -2;
        }
    }
    .images-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .img-wrapper {
            width: 160px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            height: 150px;
            justify-content: space-between;
            background: #fff;
            box-shadow: 5px 5px 20px #3e3737;
            img {
                max-height: 105px;
            }
            .remove_item{
              position: absolute;
              margin-top: -10px;
              margin-left: -10px;
              i{
              font-size: 20px;
              border-radius: 4px;
              }
            }
        }
        .details {
            font-size: 12px;
            background: #fff;
            color: #000;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            padding: 3px 6px;
            .name {
                overflow: hidden;
                height: 18px;
            }
        }
    }
    .upload-control {
        position: absolute;
        width: 100%;
        background: #fff;
        top: 0;
        left: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 10px;
        padding-bottom: 4px;
        text-align: right;
        label {
            padding: 2px 5px;
            margin-right: 10px;
        }
    }
}

/**
Loading ....
Background resource loading
  */
  .loading{
    background-image: url('/img/spinner-loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height:120px;
  }
// 

// Featured
  #featured{
    .card{
      min-height: 250px;
    }
    .info{
      ul{
        top: 75%;
        left: 5px;
        position: absolute;
        padding: 5px 0px;
        border-radius: 4px;
        font-size: 13px;
        li{
          background-color: #e15246 !important;
          display: inline;
          list-style: none;
          color: #ffffff;
          padding: 3px 6px;
          border-radius: 2px;
        }
      }
    }
  }

  /* Search Result CSS */
  #search{
    .banner{
        background-image: url('https://afarkas.github.io/lazysizes/assets/imgs/loader.gif');
        height: 140px;
        border-radius: 4px 4px 0px 0px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
      // Lazysize loading
    .lazyloading {
        opacity: 1;
        transition: 600ms opacity;
        background: #f7f7f7 url('https://afarkas.github.io/lazysizes/assets/imgs/loader.gif') no-repeat center;
        min-height: 60px;
    }
    .lazyloaded {
    opacity: 1;
    transition: 10ms opacity;
    }
    .rate{
        position: absolute;
        top:2px;
        right: 9px;
        .btn{
            padding:2px;
            font-size: 13px;
        }
    }
    // list
    #result{
      .card{
        border-radius:0px 0px 4px 4px;
      }
      // List
    .info{
      ul{
        top: 75%;
        left: 5px;
        position: absolute;
        padding: 5px 0px;
        border-radius: 4px;
        font-size: 13px;
        li{
          background-color: #e15246 !important;
          display: inline;
          list-style: none;
          font-size:12px !important;
          color: #ffffff;
          padding: 3px 6px;
          border-radius: 2px;
        }
      }
    }
    }
    // Price range
    // #range{
    }
    #filter{
          .ui-state-default, .ui-widget-content .ui-state-default{
              border-radius: 50% !important;
              cursor: pointer;
              // background-color:#dc4245;
            }
            .ui-state-focus:hover{
              box-shadow: 0 0 0 8px rgba(145,56,10,.1);
              border-radius: 50% !important;
            }
            .ui-state-focus:active{
              border: none !important;
            }
    }
    // Search Collapse
  .search_filter{
    position: fixed !important;
    left: 0px;
    z-index:2;
    
  }