/* Sidebar  */
#sidebar{
    .banner{
        background-image: url('img/background.jpg');
        height: 70px;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .rate{
        position: absolute;
        top:2px;
        right: 9px;
        .btn{
            padding:2px;
            font-size: 13px;
        }
    }
}

/** Animate css  */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Carousel */
.carousel{
    a{
        margin-top: 6%;
    }
    .slide{
        height: 55vh;
        width: 100%;
        background-position: center center;
        background-size: cover;
    }
}

/* modal */
.modal_top{
    top:10%;
}