/* 
Resteaurant show
View individual show CSS
*/

#restaurant .banner {
  height: 250px;
  position: relative;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/img/placeholder.gif");
}

#restaurant .banner .overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.4);
}

#restaurant .banner .overlay .job {
  position: absolute;
  top: 0px;
  left: 0px;
}

#restaurant .banner .overlay .job i {
  padding: 1px 6px !important;
}

#restaurant .banner .overlay h6 {
  bottom: 10px;
  left: 5px;
}

#restaurant .banner .overlay h5 {
  left: 5px;
  bottom: 50px;
}

#restaurant .banner ul {
  position: absolute;
  bottom: 6px;
  list-style: none;
  right: 6px;
}

#restaurant .banner ul li {
  display: inline;
  padding: 0px 2px;
}

#restaurant .banner ul li .btn-danger {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border: none !important;
}

#restaurant .overview h6 span {
  padding: 0px 3px;
}

#restaurant .overview .btn:hover {
  cursor: default;
  background-color: transparent !important;
}

#restaurant .overview .facility p {
  margin: 0px 0px !important;
  padding: 2px 0px;
}

#restaurant .contact p {
  margin: 0px;
}

#restaurant .media-body {
  border-bottom: 1px solid #e8e8e8;
}

#restaurant .photo {
  height: 100px;
  background-position: center center;
  background-size: cover;
  border: 0px;
  border-radius: 10px;
  background-image: url("/img/placeholder.gif");
}

#restaurant #event .title h6 {
  top: 55% !important;
  bottom: auto !important;
}

#restaurant #event .banner ul {
  bottom: 10px !important;
  left: 2px;
  position: absolute;
  padding: 5px !important;
  border-radius: 4px !important;
  font-size: 16px;
}

#restaurant #event .banner ul li {
  padding: 3px 6px !important;
  margin: 2px 0px !important;
}

#restaurant #event .interested i:hover {
  color: #007bff;
  cursor: pointer;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
}

/* Search Dropdown */

#tb_search_dropdown input,
#tb_search_dropdown .input-group-text {
  border-radius: 0px !important;
}

#tb_search_dropdown input {
  border-left: none !important;
}

#tb_search_dropdown .btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

#tb_search_dropdown input:focus {
  outline: none !important;
}

#tb_search_dropdown .form-control[readonly] {
  background: #ffffff !important;
  font-size: 18px;
}

#tb_search_dropdown #tb_location {
  position: relative;
}

#tb_search_dropdown #tb_location i {
  color: #c9cdd1 !important;
}

#tb_search_dropdown #tb_location .input-group-text {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

#tb_search_dropdown .form-control {
  height: 3rem;
}

#tb_search_dropdown #tb_location ul {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 100%;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

#tb_search_dropdown #tb_type i {
  color: #c9cdd1 !important;
}

#tb_search_dropdown #tb_type ul {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 100%;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#tb_search_dropdown ul li {
  list-style: none;
  padding: 6px;
  color: #000;
  background: #ffffff;
  border-bottom: 0.3px solid #8c9297;
}

#tb_search_dropdown #tb_type ul li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#tb_search_dropdown ul li:hover {
  background-color: gray;
  color: white;
  transition: 1.5s;
  cursor: pointer;
}

#tb_search_dropdown #tb_location ul li a {
  text-decoration: none;
  color: #000;
}

#tb_search_dropdown .input-group-text {
  background-color: #fff !important;
}

#tb_search_dropdown #tb_type ul li a {
  text-decoration: none;
  color: #000;
}

#tb_search_dropdown #service_list {
  display: none;
}

#tb_search_dropdown .required {
  border: solid 1px #dc4245;
  border-left: solid 1px #dc4245 !important;
  transition: 0.5s;
}

#tb_search_dropdown .required::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#tb_search_dropdown .required::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#tb_search_dropdown .required:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#tb_search_dropdown .required::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#tb_search_dropdown .required::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

/** Mobile search dropdown  */

#dropdown_lists input:focus {
  outline: none !important;
}

#dropdown_lists input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
}

#dropdown_lists input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
}

#dropdown_lists input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
}

#dropdown_lists input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
}

#dropdown_lists input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
}

#dropdown_lists .form-control[readonly] {
  background: #ffffff !important;
  font-size: 14px;
}

#dropdown_lists .height {
  height: 250px;
}

#dropdown_lists ul {
  width: 100%;
  z-index: 100;
  top: 105%;
  overflow: scroll !important;
  overflow-x: hidden !important;
  padding-left: 0px;
  background-color: #ffffff;
}

#dropdown_lists ul li {
  list-style: none;
  padding: 4px;
  color: #6c747d;
  background: #ffffff;
  border-bottom: 0.3px solid #ced4db;
}

#dropdown_lists ul li:hover {
  background-color: #edf1f4;
  color: #6c747d;
  transition: 0.5s;
  cursor: pointer;
}

#dropdown_lists ul li a {
  text-decoration: none;
  color: #000;
}

#dropdown_lists .required {
  border: solid 1px #ffffff;
  border-left: solid 1px #ffffff !important;
  transition: 0.5s;
}

#dropdown_lists .required::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#dropdown_lists .required::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#dropdown_lists .required:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#dropdown_lists .required::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

#dropdown_lists .required::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #94291a;
  font-size: 18px !important;
}

/* Sidebar  */

#sidebar .swiper-button-next,
#sidebar .swiper-button-prev {
  top: 20% !important;
}

#sidebar .banner {
  background-image: url("/img/loading-img.svg") no-repeat center;
  height: 70px;
  border-radius: 4px;
  background-size: cover;
}

#sidebar .lazyloading {
  opacity: 1;
  transition: 600ms opacity;
  background: #f7f7f7 url("/img/loading-img.svg");
  min-height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sidebar .lazyloaded {
  opacity: 1;
  transition: 10ms opacity;
}

#sidebar .rate {
  position: absolute;
  top: 2px;
  right: 9px;
}

#sidebar .rate .btn {
  padding: 2px;
  font-size: 13px;
}

/** Animate css  */

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* Carousel */

.carousel a {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel .slide {
  width: 100%;
  background-position: center center;
  background-size: cover;
}

/* modal */

.modal_top {
  top: 10%;
}

/* 
  Dashboard navtabs
  Overview
  Photos
  Comments etc
  */

#nav-tab .nav-tabs .nav-item {
  padding: 0px 10px !important;
  transition: 0.5s ease;
}

#nav-tab .nav-tabs .nav-item:first-child {
  padding-left: 0px !important;
  text-align: center;
}

#nav-tab .nav-tabs a {
  color: #6c757d !important;
  font-weight: bold;
}

#nav-tab .nav-tabs .nav-item.show .nav-link,
#nav-tab .nav-tabs .nav-link.active {
  background-color: transparent !important;
  border-bottom: solid 2px #dc3545 !important;
  color: #343a40 !important;
  font-weight: bold;
}

#nav-tab .nav-tabs .nav-link {
  border: none !important;
}

/*
Upload Image
Universal
Image / Banner / food / Menu
Rent / Hotel etc 
CSS style
*/

#image_upload {
  width: 100%;
  background: #2196F3;
  color: #fff;
  padding: 40px 15px;
  text-align: center;
  border-radius: 10px;
  border: 2px dotted #fff;
  font-size: 20px;
  position: relative;
}

#image_upload.dragging {
  background: #fff;
  color: #2196F3;
  border: 3px dashed #2196F3;
}

#image_upload.dragging .file-input label {
  background: #2196F3;
  color: #fff;
}

#image_upload i {
  font-size: 85px;
}

#image_upload .file-input {
  width: 200px;
  margin: auto;
  height: 68px;
  position: relative;
}

#image_upload .file-input label,
#image_upload .file-input input {
  background: #fff;
  color: #2196F3;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
}

#image_upload .file-input input {
  opacity: 0;
  z-index: -2;
}

#image_upload .images-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#image_upload .images-preview .img-wrapper {
  width: 160px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 150px;
  justify-content: space-between;
  background: #fff;
  box-shadow: 5px 5px 20px #3e3737;
}

#image_upload .images-preview .img-wrapper img {
  max-height: 105px;
}

#image_upload .images-preview .img-wrapper .remove_item {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
}

#image_upload .images-preview .img-wrapper .remove_item i {
  font-size: 20px;
  border-radius: 4px;
}

#image_upload .images-preview .details {
  font-size: 12px;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 3px 6px;
}

#image_upload .images-preview .details .name {
  overflow: hidden;
  height: 18px;
}

#image_upload .upload-control {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 10px;
  padding-bottom: 4px;
  text-align: right;
}

#image_upload .upload-control label {
  padding: 2px 5px;
  margin-right: 10px;
}

/**
Loading ....
Background resource loading
  */

.loading {
  background-image: url("/img/spinner-loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 120px;
}

#featured .card {
  min-height: 250px;
}

#featured .info ul {
  top: 75%;
  left: 5px;
  position: absolute;
  padding: 5px 0px;
  border-radius: 4px;
  font-size: 13px;
}

#featured .info ul li {
  display: inline;
  list-style: none;
  color: #ffffff;
  border-radius: 2px;
}

/* Search Result CSS */

#search .banner {
  background-image: url("https://afarkas.github.io/lazysizes/assets/imgs/loader.gif");
  height: 140px;
  border-radius: 4px 4px 0px 0px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#search .lazyloading {
  opacity: 1;
  transition: 600ms opacity;
  background: #f7f7f7 url("https://afarkas.github.io/lazysizes/assets/imgs/loader.gif") no-repeat center;
  min-height: 60px;
}

#search .lazyloaded {
  opacity: 1;
  transition: 10ms opacity;
}

#search .rate {
  position: absolute;
  top: 2px;
  right: 9px;
}

#search .rate .btn {
  padding: 2px;
  font-size: 13px;
}

#search #result .card {
  border-radius: 0px 0px 4px 4px;
}

#search #result .info ul {
  top: 75%;
  left: 5px;
  position: absolute;
  padding: 5px 0px;
  border-radius: 4px;
  font-size: 13px;
}

#search #result .info ul li {
  display: inline;
  list-style: none;
  font-weight: bolder;
  font-size: 12px !important;
  color: #ffffff;
  padding: 3px 6px;
  border-radius: 2px;
}

#filter .ui-state-default,
#filter .ui-widget-content .ui-state-default {
  border-radius: 50% !important;
  cursor: pointer;
}

#filter .ui-state-focus:hover {
  box-shadow: 0 0 0 8px rgba(145, 56, 10, 0.1);
  border-radius: 50% !important;
}

#filter .ui-state-focus:active {
  border: none !important;
}

.search_filter {
  position: fixed !important;
  left: 0px;
  z-index: 2;
}

#dashboard {
  /*Facility  */
  /** Upload Browser Css  */
  /* Dashboard Gallery View
  Restaurant / Event / Rent/ Events
   */
}

#dashboard #restaurant .banner {
  height: 250px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

#dashboard #restaurant .banner .overlay {
  display: none;
}

#dashboard #restaurant .banner:hover .overlay {
  position: absolute;
  transition: 1s ease;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#dashboard .facility ul {
  list-style-type: none;
  margin-left: 0px;
}

#dashboard .facility ul li {
  text-decoration: none;
  padding: 4px 0px;
}

#dashboard .upload_browser {
  visibility: hidden;
}

#dashboard .upload_browser::before {
  content: "Select some files";
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

#dashboard #dashboard_photo .delete_btn {
  z-index: 100;
  right: 5%;
  bottom: 20%;
}

#dashboard #dashboard_photo .gallery_view {
  height: 80px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("/img/placeholder.gif");
  cursor: pointer;
}

#dashboard #dashboard_photo .gallery_view .overlay {
  display: none;
}

#dashboard #dashboard_photo .gallery_view:hover .overlay {
  position: absolute;
  transition: 1s ease;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#dashboard .add_edit_label label {
  color: #6c757d !important;
  font-size: 90%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #edf1f4 !important;
  min-height: 100%;
}

.sticky_header {
  background-color: #941c18 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) !important;
}

#navbar {
  transition: all ease-out 0.5s;
  background-color: transparent;
  z-index: 900;
}

#navbar .nav-item {
  border: solid 1px #fff;
  border-radius: 4px;
  margin: 0px 2px;
}

#navbar .nav-item a {
  color: #fff !important;
  padding: 0.25rem !important;
}

#navbar .nav-item:hover {
  background-color: white;
  transition: 0.6s;
}

#navbar .nav-item:hover a {
  color: #941c18 !important;
}

#navbar #avatar img {
  height: 25px !important;
  width: 25px !important;
  border: solid 0.5px #ffffff;
}

#navbar #avatar .nav-item:hover {
  background-color: transparent;
  transition: 0.6s;
  color: #941c18;
}

#navbar #avatar .nav-item:hover a {
  color: #941c18 !important;
}

#navbar #avatar .dropdown-menu a {
  color: #941c18;
}

#home_search {
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding-top: 8%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}

#home_search .input {
  height: 50px;
  border-radius: 0px;
}

#home_search #dropdown {
  display: block;
  position: absolute;
  background: red;
  z-index: 2000;
  width: 65%;
  left: 24%;
  top: 50px;
}

#home_search #dropdown ul {
  list-style: none;
  margin-left: 0px;
}

#home_search #list a {
  color: #ffffff;
}

#home_search #list a:hover {
  color: #e9eaea;
}

#home_featured .card-body {
  padding: 0.7rem !important;
  font-size: 0.9rem !important;
  color: #89959B !important;
}

#home_featured .card-body h5 {
  color: #33373D !important;
  font-size: 1rem !important;
}

#home_featured .card .list {
  height: 120px;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-size: cover !important;
  background: url("/img/loading-img.svg") no-repeat center;
}

#home_featured .card .lazyloading {
  opacity: 1;
  transition: 600ms opacity;
  background-size: cover !important;
  background: url("/img/loading-img.svg") no-repeat center;
  min-height: 60px;
}

#home_featured .card .lazyloaded {
  opacity: 1;
  transition: 10ms opacity;
}

#home_featured .card .likes {
  position: absolute;
  font-size: 12px !important;
  font-weight: 600;
  top: 0px;
  border-radius: 3px;
  color: #ffffff;
  right: 0px;
  padding: 3px 6px;
}

#home_featured .card .likes .btn {
  padding: 1px 4px !important;
  font-size: 0.8rem !important;
}

#home_featured .card .types {
  position: absolute;
  padding: 3px 6px;
  top: 58%;
  right: 10px;
}

#business_list a {
  color: #6c757d !important;
}

#business_list .card {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#business_list .lazyloading {
  opacity: 1;
  transition: 600ms opacity;
  background: url("/img/loading-img.svg") no-repeat center;
  min-height: 60px;
}

#business_list .lazyloaded {
  opacity: 1;
  transition: 10ms opacity;
}

#business_list .banner {
  height: 100px;
  position: relative;
  background-size: cover;
  background-position: center center !important;
  background-image: url("/img/loading-img.svg") no-repeat center;
}

#business_list .banner .price {
  bottom: 2px;
  left: 3px;
}

#business_list .info h5 {
  font-size: 12px !important;
  color: #3e4041;
  font-weight: bolder;
}

#business_list .info h6 {
  color: #89959B;
  font-size: 11px;
  font-weight: bolder;
}

footer {
  background-color: #282c35;
  padding: 10px 0px;
  color: #cdcdcd;
}

footer .divider {
  border-top: 1px solid #3C3F46;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer ul {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

footer ul li {
  display: block;
  padding: 0 0 8px;
  font-size: 14px;
}

footer .copyright {
  font-size: 12px;
  color: #9a9a9a;
}

footer img {
  margin: 0px auto;
  display: block;
  height: 50px;
  width: 50px;
}

.swiper-container {
  padding: 0px 7.5px !important;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  top: 27% !important;
}

.swiper-container .swiper-button-next::after,
.swiper-container .swiper-button-prev:after {
  font-size: 11px !important;
  color: #ffffff;
  padding: 8px;
  border: solid 0.5px #fff;
  background: #c9c7c8;
}

/* Login UI CSS */

#login .modal-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#login .btn {
  border-radius: 1.25rem !important;
}

